@charset "UTF-8";
.clock_container{
  margin-top: 50px;
  display: flex;
  /*align-items: center;*/
  justify-content: center;
}
.clock {
  max-width: 100px;
}
.text {
  font-family: "Gotham - Black";
  align-self: flex-end;
  margin-right: 20px;
  margin-left: 10px;
}
.section_slider {
  padding-top: 110px;
  position: relative;
  width: 1200px;
  margin: auto;
}
.slider {
  position: absolute;
  left: 274px;
  top: 112px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.slider_inner {
  margin-top: 24px;
  display: flex;
}
.picture {
  max-height: 246px;
  max-width: 445px;
  width: 100%;
  height: border-box;
  position: absolute;
  top: 17px;
  left: 103px;
}
#prev{
  position: absolute;
  top: 170px;
  left: 118px;
  background: url("../left.png");
  display:block;
  width:35px;
  height:35px;
  cursor:pointer;
}
#next{
  position: absolute;
  top: 170px;
  right: 118px;
  display:block;
  width:35px;
  height:35px;
  cursor:pointer;
  background: url("../right.png");
}
.button_left:hover, .button_right:hover{opacity:.6;}

@font-face {
  font-family: "Gotham - Black";
  src: url("../fonts/Gotham - Black/Metropolis-Black.svg");
  src: url("../fonts/Gotham - Black/Metropolis-Black.eot?#iefix") format("embedded-opentype"),
  url("../fonts/Gotham - Black/Metropolis-Black.woff2") format("woff2"),
  url("../fonts/Gotham - Black/Metropolis-Black.woff") format("woff"),
  url("../fonts/Gotham - Black/Metropolis-Black.ttf") format("truetype"),
  url("../fonts/Gotham - Black/Metropolis-Black.svg#Metropolis-Black") format("svg");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
